<h1 style="text-align: center; margin-top: 30px;">
    Listado de todos los articulos del almacén</h1>
<hr>
<br>
<div class="card-columns  animate__animated animate__fadeIn">
    <div *ngFor="let articulo of articulos" class="card bg-dark border-white" style="width: 18rem; margin-bottom: 50px;">
        <div class="ribbon ribbon-top-right"><span>{{articulo.Precio}} €</span></div>
        <img src="{{articulo.Imagen}}" class="card-img-top">
        <div class="card-body">
            <h4 class="card-title" style="display: inline;"><b>ID: {{articulo.ID_Articulo}}</b></h4>
            <b *ngIf="articulo.Stock != 0; else outofstock" style="padding-left: 100px; display: inline;">Stock: {{articulo.Stock}}</b>
            <ng-template #outofstock><b style="padding-left: 100px; display: inline;">No hay Stock</b></ng-template>
            <h4 class="card-title" style="padding-top: 20px;"><b>Nombre: </b>{{articulo.Nombre}}</h4>
            <p class="card-text"><b>Descripción: </b>{{articulo.Descripcion}}</p>
            <p class="card-text"><b>Fabricante: </b>{{articulo.Fabricante}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-dark"><b>Peso: </b>{{articulo.Peso}} kg</li>
            <li class="list-group-item bg-dark"><b>Alto: </b>{{articulo.Alto}} m</li>
            <li class="list-group-item bg-dark"><b>Largo: </b>{{articulo.Largo}} m</li>
            <li class="list-group-item bg-dark"><b>Ancho: </b>{{articulo.Ancho}} m</li>
        </ul>
    </div>
</div>